* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
    /* color: #a6a6a6; */
}

ul,
ol,
dl {
    list-style: none;
}

input,
img {
    border: 0 none;
    /* 去除内边框 */
    outline-style: none;
    /* 底线对齐：解决底部3像素空白 */
    vertical-align: middle;
    outline: none; /*去掉选中样式*/
}
a {
    text-decoration: none;
    /* color: #a6a6a6; */
}

a:hover {
    color: #ca151d;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
    height: 0px;
    line-height: 0px;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}

.left {
    float: left;
}

.right {
    float: right;
}

