body {
  min-width: 1300px;
}
.banner {
  margin-top: 93px;
  width: 100%;
}
.banner .banner_big {
  height: 700px;
  width: 100%;
  margin-top: 10px;
  position: relative;
  z-index: 0;
}
.banner .banner_big img {
  width: 100%;
}
.banner .banner_big a {
  position: absolute;
  text-align: center;
  line-height: 300%;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 12px;
}
.banner .banner_big a:hover {
  border: 1px solid red;
  color: red;
}
.banner .video_box {
  position: relative;
  width: 100%;
}
.banner .video_box video {
  width: 100%;
}
.banner .video_box .video_box_text {
  border: 1px solid transparent;
  position: absolute;
  text-align: center;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}
.banner .video_box .video_box_text .top_text p {
  color: #f9f9f9;
  font-size: 3em;
  letter-spacing: 0.5vw;
}
.banner .video_box .video_box_text a {
  display: inline-block;
  font-size: 2em;
  border: 1px solid #f9f9f9;
  color: #f9f9f9;
  border-radius: 5px;
  margin-top: 60px;
  padding: 10px;
}
.banner .banner_big:nth-child(2) {
  background: url(../img/ba2.jpg) no-repeat 40%;
}
.banner .banner_big:nth-child(2) a:nth-child(1) {
  top: 73%;
  right: 28%;
  width: 8%;
}
.banner .banner_big:nth-child(2) a:nth-child(2) {
  top: 73%;
  right: 17%;
  width: 10%;
}
.banner .banner_big:nth-child(3) {
  background: url(../img/ba3.jpg) no-repeat 57%;
}
.banner .banner_big:nth-child(4) {
  background: url(../img/ba4.jpg) no-repeat 65%;
}
.banner .banner_big:nth-child(5) {
  background: url(../img/ba5.jpg) no-repeat 60%;
}
.banner .banner_big:nth-child(5) a {
  width: 6%;
  top: 47%;
  left: 29%;
}
.banner .banner_big:nth-child(6) {
  background: url(../img/ba6.jpg) no-repeat 52%;
}
.banner .banner_big:nth-child(6) a:nth-child(1) {
  width: 6%;
  top: 81%;
  left: 33%;
}
.banner .banner_big:nth-child(6) a:nth-child(2) {
  width: 10%;
  top: 81%;
  left: 40%;
}
.banner .banner_big:nth-child(6) a:nth-child(3) {
  width: 12%;
  top: 81%;
  left: 51%;
}
.banner .banner_s {
  width: 100%;
}
.banner .banner_s li {
  width: 50%;
  box-sizing: border-box;
  position: relative;
}
.banner .banner_s li a {
  width: 98%;
  height: 700px;
}
.banner .banner_s li .text_ {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  position: absolute;
  top: 10%;
}
.banner .banner_s li .text_ h3 {
  width: 100%;
  text-align: center;
  font-size: 30px;
}
.banner .banner_s li .text_ p {
  width: 100%;
  text-align: center;
  font-size: 20px;
  margin-top: 15px;
}
.banner .banner_s li:nth-child(1) a {
  background: url(..//img/bs8.png) no-repeat 50%;
}
.banner .banner_s li:nth-child(2) a {
  background: url(..//img/bs1.jpg) no-repeat 50%;
}
.banner .banner_s li:nth-child(3) a {
  background: url(..//img/bs2.jpg) no-repeat 50%;
}
.banner .banner_s li:nth-child(4) a {
  background: url(..//img/bs3.jpg) no-repeat 50%;
}
.banner .banner_s li:nth-child(5) a {
  background: url(..//img/bs4.jpg) no-repeat 50%;
}
.banner .banner_s li:nth-child(6) a {
  background: url(..//img/bs5.jpg) no-repeat 50%;
}
.banner .banner_s li:nth-child(7) a {
  background: url(..//img/bs6.jpg) no-repeat 50%;
}
.banner .banner_s li:nth-child(7) h3 {
  color: white;
}
.banner .banner_s li:nth-child(7) p {
  color: white;
}
.banner .banner_s li:nth-child(8) a {
  background: url(..//img/bs7.jpg) no-repeat 50%;
}
